*{
    margin: 0;
    padding: 0;
}



.myopen-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;

}

 
/* nav start  */

header{
    padding-top: 24.5px;
    padding-bottom: 24.5px;
    
    
}

nav{
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    align-items: center;
    display: flex;
    justify-content: space-between;
   
    
}

nav ul{
    display: flex;
    gap: 32px;
    align-items: center;
}

nav a{
    list-style: none;
    text-decoration: none;
    color: black;
}

nav img{
    max-width: 139px;
}

nav div .btn{
    padding: 12px ;
    color: white;
    font-weight: 700;
    background-color: #469165;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
nav div .btn:hover {
    background-color: #FFFFFF;
    color: #469165;
}    

    /* hero start */
    

#banner{
    background: url("../assets/hero-bg.png");
    background-size: 1600px 674px;
    background-repeat: no-repeat;
}

#banner div{
    padding-top: 115.5px;
    padding-bottom: 179.5px;
    margin: 0 auto;
    max-width: 770px;
    text-align: center;
    
}

#banner .early{
    background-color: #FFFFFF;
    border-radius: 1000px;
    padding: 8px 10px;
    margin-bottom: 16px;
    color: #469165;
    border: none;
    font-size: 16px;
    
}

#banner .white{
    color: #FFFFFF;
    font-size: 4.6em;
}

#banner .green{
    color: #30B868;
    margin-bottom: 16px;
    font-size: 4.6em;

}

#banner p{
    color: #FFFFFF;
    font-size: 18px;
    line-height: 39px;
    max-width: 750px;
    margin-bottom: 32px;
}

#banner .Green{
    color: #FFFFFF;
    padding: 16.5px 21px 16.5px 16px;
    background-color: #469165;
    margin-right: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#banner .Green:hover {
    background-color: #FFFFFF;
    color: #469165;
}

#banner .transparent{
    background-color: transparent;
    color: #FFFFFF;
    border: 1px solid white;
    border-radius: 4px;
    padding: 16.5px 16px 16.5px 16px;
    cursor: pointer;
}

#banner .transparent:hover {
    background-color: #FFFFFF;
    color: #0a2f42;
}

/* page three start */

#Note{
    padding-top: 100px;
    margin: 0 auto;
    text-align: center;
    max-width: 1360px;
}

.head-section h1{
    font-size: 48px;
    color: #001931;
    margin-bottom: 16px;
}

.head-section p{
    color: #627382;
    margin-bottom: 44px;
}

.down-section{
    justify-content: space-between;
    display: flex;
    gap: 72px;
}



.info-card div{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #F95555;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 15px;

}

.info-card{
    padding: 69.5px 24px;
    box-shadow: 0 0 8px 0 rgb(211, 210, 210);
    border-radius: 8px;
}

.info-card h3{
    font-size: 24;
    color: #001931;
    margin-bottom: 16px;
} 

.info-card p{
    color: #627382;
}

/* page four start */

#solution{
    padding: 120px ;
}

.sol-container{
    display: flex;
    gap: 60px;
    margin: 0 auto;
    align-items: center;
    width: 85%;
    max-width: 1360px;
    

}

.fire-img img{
    width: 600px;
    height: 600px;
}

.sol-detail h4{
    color: #469165;
    font-size: 16px;
    font-weight: 400;
}

.sol-detail h1{
    font-size: 45px;
    max-width: 532px;
    font-weight: 720;
    margin-bottom: 16px;
    line-height: 55px;
    
}

.sol-detail p{
    color: #627382;
    line-height: 20px;
    margin-bottom: 40px;
}

.sol-points{
    display: flex;
    max-width: 532px;
    margin-bottom: 16px;
}

.sol-points img{
    width: 20px;
    height: 20px;
    margin-right: 7.87px;
}

.sol-points h3{
    font-size: 16px;
    color: #001931;
    font-weight: 600;
}